@font-face {
    font-family: 'Special Elite';
    src: url('font/SpecialElite-Regular.woff2') format('woff2'),
    url('font/SpecialElite-Regular.woff') format('woff');
}

html{
    font-family: 'Special Elite';
    background-color: rgb(19, 143, 5);
    margin: 0;
}

html body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(15, 179, 15);
}

.navbar a{
  float: left;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  color: black;
  transition: 0.15s;
}

.navbar a:hover{
    color: white;
    transition: 0.15s;
}

body nav li a:active{
    color: black;
}

header a{
    color: black;
    font-size: 20px;
    transition: 0.15s;
}

header a:hover{
    color: white;
    transition: 0.15s;
}

header:active{
    color: black;
}

section{
    flex: 1;
}

#a1, #a2{
    text-align: center; 
}


#tnameip, #categs {
    width: 50%;
    padding: 5px 5px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    padding: 5px 5px;
    margin: 1px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Child{
    text-align: center;
    margin: 20px;
}

.Child table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.Child table, th, td {
    border: 1px dashed black;
    border-spacing: 10px;
}

footer{
    text-align: center;
    border: 2px solid black;
    background-color: grey;
    padding: 5px;
    position: sticky;
}

#z1{
    width: 70%;
    border: 2px solid black;
    background-color: #4CAF50;
    margin-top: 30px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    text-indent: 2em;
    padding: 10px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

#z1 ul{
    list-style-type: square;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dd-button{
  font-size: 20px;
  background-color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  margin: 0;
  color: black;
  padding: 10px 10px;
}

.dd-content{
  display: none;
  position: absolute;
  background-color: rgb(15, 179, 15);
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dd-content a{
  float: none;
  display: block;
  text-align: left;
  overflow: hidden;
}

.dd-content a:hover{
  background-color: black;
  color: white;
}

.dropdown:hover .dd-content{
  display: block;
  transition: 0.15s;
}

.navbar a:active{
  color: black;
  background-color: white;
}

.troll{
    font-size: 72px;
    text-align: center;
}

main {
    margin: auto;
    text-align: center;
}

main a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-size: 20px;
    transition: 0.15s;
}

main a:hover{
    color: white;
    transition: 0.15s;
}

main a:active{
    color: black;
}